*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    font-family: arial,sans-serif;
    font-size: 13px;
}

a{
    text-decoration: none;
    color: #666;
    line-height: 24px;
}
a:hover{
    text-decoration: underline;
    opacity: .85;
}

header *{
    margin-right: 15px;
}
.container {
    margin: 0 auto;
    width: 960px;
    text-align: center;
}

#logo, #search-box {
    display:block;
    margin: 0 auto;
}

#search-box {
    width: 528px;
    height: 44px;
    padding-top: 5px;
    padding-left: 16px;
    font-size: 16px;
    margin-bottom: 30px;
}

#logo {
    padding-top: 150px;
}

#left-footer {
    float: left;
}

#right-footer {
    float: right;
}

#header {
    float: right;
    margin-top: 20px;
    margin-right: 30px;
}

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
}

.btn-search {
    margin-bottom: 30px;
    height: 30px;
    border: 1px solid #f2f2f2;
    background-color: #f2f2f2;
    height: 36px;
    width: 127px;
    color: #757575;
    font-weight: bold;
    font-size: 13px;
    margin: 0 5px;
}

.btn-search:hover{
    color: #000;
    border: 1px solid #ccc;
}
.btn-signin{
    background-color: #4683ea;
    border: 1px solid #4285f4;
    font-weight: bold;
    color: #fff;
    width: 70px;
    height: 30px;
    border-radius: 3px;
    font-size: 13px;
}
